.mainBody {
  background-color: #000000;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: normal;
}
.headerClass{
  color:rgba(14, 125, 145, 0.889);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 3px 3px rgb(23, 172, 180);
  background-image: url(img/adidas-three-stripes-history-11.jpg);
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hardBass{
  color: rgb(23, 172, 180);
  font-weight: bolder;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
p{
  text-align: center;
}
ol {
	list-style-type: none; 
	counter-reset: num;
	position: relative;	    
	margin: 0 0 0 60px;
	padding: 15px 0 5px 0;
	font-size: 16px;
  text-align:center;
  word-spacing:100px;
}
ol li {
	position: relative;	
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	line-height: 1.4;
   
}
ol li:after {
	content: counter(num); 
	counter-increment: num;
	display: inline-block;
	position: absolute;
	top: 0;
	left: -45px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	background: #fff;
	color: #000;
	text-align: center;
	font-size: 18px;
	border-radius: 50%;
	border: 1px solid #ef6780;
  
}
 .twoRd{
   width: 50%;
   font-style: left ;
   display: inline-block;
 }
.treeRd{
  width: 50%;
  font-style: right ;
  display: inline-block;
  position: absolute;
}
